#shopping_ip1 {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 30px 1%;
}

#shopping_ip1 .shopping_ip1_left {
    background-color: #00ddD5;
    height: 1280px;
    float: left;
    color: #fff;
    padding: 30px 20px
}

#shopping_ip1 .shopping_ip1_left p {
    font-size: 45px;
    font-weight: bolder;
    
}

#shopping_ip1 .shopping_ip1_left ul {
    margin-top: 100px
}

#shopping_ip1 .shopping_ip1_left ul li {
    margin-bottom: 20px;
    
}

#shopping_ip1 .shopping_ip1_left ul li .Ititle {
    display: block;
    font-size: 18px;
}
#shopping_ip1 .shopping_ip1_right {
	
    
    height: auto;
    padding: 0;
    
}
.col-md-4{padding: 0;margin: 0}
#shopping_ip1 .shopping_ip1_right li{cursor: pointer;position: relative;height: 320px;background-color: #333;overflow: hidden;}
#shopping_ip1 .shopping_ip1_right li img{
	position: absolute;
	width:100%;min-height: 350px;
	transition:all ease 1s;
}
#shopping_ip1 .shopping_ip1_right li:hover img{
  transform:scale(1.2)
}
#shopping_ip1 .shopping_ip1_right li .ying_content{
	position: absolute;
	width:100%;
	padding:10px  20px;
    z-index: 99;bottom: 0px;
}
#shopping_ip1 .shopping_ip1_right li .ying_content span{
   display: block;
   width: 120px;
   height: 45px;
   background-color: #00ffff;
   text-align: center;
   margin-top: 10px;
   line-height: 45px;font-size: 16px;
}
#shopping_ip1 .shopping_ip1_right li .ying_content h4{
	color: #fff;
	margin: 10 0px;
	font-size: 24px;
}


